
.content {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
	padding-left: 20px;
	padding-right: 20px;
    white-space: nowrap;
}

#mini_menu {
    display: inline-block;
    width: 25%;
}




#mini_menu a {
	font-family: 'Lato', sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}
#mini_menu a:link {
    text-decoration:none;
    color: #F635C9;
}
#mini_menu a:visited {
    text-decoration:none;
    color: #F635C9;
}
#mini_menu a:hover {
    text-decoration:underline;
    color: lightgray;
}
#mini_menu a:active {
    text-decoration:underline;
    color: lightgray;
}

#copyright {
    display: inline-block;
    float: right;
}
