

.gallery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gallery div.box {
    position: relative;
    overflow: hidden;
    float: left;
}
.gallery div.inner {
    position: absolute;
    left: 7px;
    right: 7px;
    top: 10px;
    bottom: 10px;
}
.gallery div.inner img {
    width: 100%;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.category_gallery {
    padding-bottom: 20px;
}

@media only screen and (max-width : 650px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 49.3%;
      padding-bottom: 25.3%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 32.8%;
      padding-bottom: 16.8%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 24.7%;
      padding-bottom: 12.6%;
   }
}
@media only screen and (min-width : 1291px){
   /* Medium desktop: 4 tiles */
   .box {
      width: 19%;
      padding-bottom: 9.8%;
   }
}
