
#header {
    width: 80%;
    height: 150px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#header .menu {
    line-height: 160px;
    vertical-align: top;
}

#header .logo {

}

#header a {
    display: inline-block;
    font-family: 'Lato', sans-serif;
}
#header a:link {
    text-decoration:none;
    color: black;
}
#header a:visited {
    text-decoration:none;
    color: black;
}
#header a:hover {
    text-decoration:underline;
    color: lightgray;
}
#header a:active {
    text-decoration:underline;
    color: lightgray;
}

#tagline {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    color: #F635C9;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
}

#work_menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
