---
layout: default
title: A Bull Creative - Southern Oregon Graphic Design
description: A Bull Creative is a Graphic Design company near Ashland Oregon. We can do logos, brochures, posters and flyers at an hourly rate.
---

<div id="home">
  <div id="tagline">
    stuff made good lookin'
  </div>

  <div class="gallery">
    {% for post in site.posts %}
      {% if post.homepage_order != nil %}
        <div class="box">
          <div class="inner">
            <a data-fancybox-group="gallery" class="fancybox-thumb" href="{{ post.image }}">
              <img src="{{ post.thumbnail }}" alt="{{ post.title }}"/>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <span class="stretch"></span>
  </div>

</div>
