---
layout: default
title: A Bull Creative - Brochures, Flyers, Logos and More!
description: "A Bull Creative: Images of the flyers, logos, brochures we have created for small businesses in Southern Oregon."
---

<div id="home">
  <div id="work_menu">
    {% for category in site.categories %}
      <a href="#{{ category[0] }}">{{ category[0] }}</a>
    {% endfor %}
    <span class="stretch"></span>
  </div>

  {% for category in site.categories %}
    <div class="category_gallery">
      <h2 style="text-align: center;"><a id="{{ category[0] }}"></a> {{ category[0] }}</h2>
      <div class="gallery">
        {% for post in category[1] %}
          <div class="box">
            <div class="inner">
              <a data-fancybox-group="gallery" class="fancybox-thumb" href="{{ post.image }}" title="{{ post.title }}">
                <img src="{{ post.thumbnail }}" alt="{{ post.title }}"/>
              </a>
            </div>
          </div>
        {% endfor %}
        <span class="stretch"></span>
      </div>
    </div>
  {%endfor%}

</div>
